<div class="content">
	<div class="top-wrapper" align="center">
		<!-- Top画像 -->
		<img class="top-image" src="/assets/top.JPG">
	</div>
	<div class="main wrapper flex">
		<!-- 投稿一覧 -->
		<main class="main-contents">
			<div class="post-box">
				<div class="show-list-title">
						投稿内容
				</div>
				<article class="show-box clearfix">
					<h1 class="postshow-title">
						<%= @post.title %>
						<%= link_to "投稿削除", post_path(@post), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-danger" %>
					</h1>
					<div class="post-show-category">
						<span style="margin-right: 3px;">カテゴリー</span>
						<%= link_to @post.category.name, admins_category_path(@post.category_id),data: {"turbolinks" => false} ,class: 'category-link' %>
					</div>
					<div id="mainImage">
						<%= attachment_image_tag @post.post_images.first, :image, :fill, 700,400,format:"jpeg",fallback:"no_image.jpg",size:"700x400",class: "images-main" %>
					</div>
					<div id="imageList">
						<ul class="thumb">
						<% @post.post_images.each.with_index(1) do |image,i| %>
							<li class="thumb<%= i %>">
								<!-- :fillの後の数字が画像自体のサイズ指定で、 size:のあとの"200x120"がviewに表示されるサイズっぽい -->
								<%= attachment_image_tag image, :image, :fill, 700,400,format:"jpeg",fallback:"no_image.jpg",size:"150x100",class: "imageshow" %>
							</li>
						<% end %>
						</ul>
					</div>
				</article>
				<script>
						$(function(){
    						// 「imageList」内の「img」をクリックした場合
    						$('#imageList img').click(function(){
        						// マウスオーバーしている画像をメインの画像に反映
        						$('#mainImage img').attr('src', $(this).attr('src'));
    						});
						});
				</script>
			</div>
			<div class="post-show">
				<div class="post-name">
					<p><span class="post-name-title">投稿者:</span><%= @post.name %></p>
				</div>
				<ul class="category-show-name">
					<li class="post-show-date"><%= @post.created_at.strftime('%Y/%m/%d %R') %></li>
					<li class="post-show-location"><%= @post.location %></li>
				</ul>
				<div class="post-body">
					<%= @post.body %>
				</div>
			</div>
			<div class="comment-title">
					<p>コメント<%= @post.comments.count %>件</p>
			</div>
			<div class="comment">
				<div class="comment-main">
					<%= form_for [@post,@comment] do |comment| %>
						<div class="comment-name-input">
							<p>名前</p>
							<%= comment.text_field :name %>
						</div>
						<div class="comment-body">
							<p>コメント</p>
							<%= comment.text_area :body, size: "110x7" %>
						</div>
						<div class="comment-submit">
							<%= comment.submit "コメントする", class: "btn btn-info comment-send" %>
						</div>
					<% end %>
				</div>
			</div>
			<div class="comment-list">
				<% @comments.each.with_index(1) do |list,i| %>
					<div class="comment-list-head">
						<span><%= i %>.</span>
						<span class="comment-name"><%= list.name %></span>
						<span class="comment-date">投稿日:<%= list.created_at.strftime('%Y/%m/%d %R') %></span>
					</div>
					<div class="comment-body">
						<%= list.body %>
					</div>
					<div class="comment-delete">
					<%= link_to "投稿削除", post_commentspath(@post,list), method: :delete, "data-confirm" => "本当に削除しますか？",class: "btn btn-danger" %>
					</div>
				<% end %>
				<div class="pager">
					<%= paginate @comments %>
				</div>
			</div>
		</main>
		<aside class="side-contents">
		<!-- ランキング -->
		<div class="side-category">
			<div class="side-title">カテゴリー</div>
			<div style="text-align: center;">
			<form name="categoryselect">
			<%= select_tag :category_id, options_from_collection_for_select(Category.all, :id, :name),{include_blank: "カテゴリーを選択",class: "category-select"} %>
			</form>
			</div>
		</div>
			<!-- <script>
				window.onload = function(){
					//select変更時
					document.getElementById("category_id").onchange = function(){
						//遷移先URL取得
						var url = this.option[this.selectedIndex].value;
						//URLが取得できていればページ遷移
						if(url != ""){
							location.href = url;
						}
					};
				};
			</script> -->
			<script>
				window.addEventListener("load",function(){
					//select変更時
					document.getElementById("category_id").onchange = function(){
						const category = document.categoryselect.category_id;
						const select = category.selectedIndex;
						const value = category.options[select].value;
						if(value == "1"){
							location.href = "../categories/1";
						}else if(value == "2"){
							location.href = "../categories/2";
						}else if(value == "3"){
							location.href = "../categories/3";
						}else if(value == "4"){
							location.href = "../categories/4";
						}else if(value == "5"){
							location.href = "../categories/5";
						}
					};
				});
			</script>
		<div class="side-search">
			<div class="side-title location">タイトル検索</div>
			<div style="text-align: center;">
				<%= search_form_for @search, url: admins_posts_path do |search| %>
				    <div class="search-title">
	    				<%= search.text_field :title_cont %>
				    	<span><%= search.submit"検索",class: "location-submit btn" %></span>
				    </div>
				 <% end %>
			</div>
		</div>
		<div class="side-pageview">
			<div class="side-title pageview">人気記事</div>
				<div class="ranking-main">
					<ul>
						<% @most_viewed.each do |rank| %>
							<li>
								<div class="ranking-box clearfix">
									<div class="ranking">
										<%= link_to admins_post_path(rank),data: {"turbolinks" => false} do %>
										<div class="rank-image">
											<%= attachment_image_tag rank.post_images.first, :image, :fill, 150,80,format:"jpeg",fallback:"no_image.jpg",size:"100x80" %>
										</div>
										<div class="rank-title">
											<%= rank.title %>
										</div>
										<% end %>
									</div>
	        				<%#= rank.impressions_count %>
	        					</div>
	        				</li>
	    				<% end %>
	    			</ul>
				</div>
		</div>
		</aside>
	</div>
</div>