<!DOCTYPE html>
<html>
  <head>
    <title>Tooling</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <!-- link_toにdata: {"turbolinks"=>false}を指定してあげるとturbolinkによるAjaxを無効にでき、jsが読み込まれるようになる。 -->
      <%= link_to "Topページ", root_path,data: {"turbolinks" => false} %>
      <ul class="header-menu">
        <li><%= link_to "新規投稿", new_post_path %></li>
      </ul>
    </header>
    <%= yield %>
  </body>
</html>
